 @import url('https://fonts.googleapis.com/css?family=Pangolin');
 html,
 body {
     height: 100%;
 }
 
 #pageContainer {
     display: flex;
     justify-content: space-between;
     background: radial-gradient(rgb(150, 150, 230), rgb(80, 80, 220));
     min-height: 100%;
     min-width: 100%;
     background-size: cover;
 }
 
 #gameContainer {
     display: none;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
     padding: 3px;
     width: 400px;
     height: 400px;
     background: radial-gradient(rgb(150, 230, 190), rgb(81, 214, 148));
     border-radius: 5px;
     margin-top: 35px;
     margin-left: auto;
     margin-right: auto;
 }
 
 .gameSquare {
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 5px;
     width: 45px;
     height: 45px;
     cursor: pointer;
 }
 
 #welcome {
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     width: 400px;
     height: 450px;
     background: radial-gradient(rgb(150, 230, 190), rgb(81, 214, 148));
     border-radius: 5px;
     margin-top: 35px;
     margin-left: auto;
     margin-right: auto;
 }
 
 #actionBar {
     display: none;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     width: 200px;
     height: 300px;
     margin-top: 35px;
     background: radial-gradient(rgb(150, 230, 190), rgb(81, 214, 148));
     border-radius: 5px;
 }
 
 #leftBar {
     display: none;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     width: 200px;
     height: 300px;
     margin-top: 35px;
     background: radial-gradient(rgb(150, 230, 190), rgb(81, 214, 148));
     border-radius: 5px;
 }
 
 #scoreScreen {
     display: none;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     width: 400px;
     height: 300px;
     background: radial-gradient(rgb(150, 230, 190), rgb(81, 214, 148));
     border-radius: 5px;
     margin-top: 35px;
     margin-left: auto;
     margin-right: auto;
 }
 
 #buttons {
     width: 100%;
     display: flex;
     justify-content: space-around;
 }
#scoreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#listContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
 
 .selected {
     background-color: rgb(255, 255, 0);
 }
 
 .highlight {
     background-color: rgb(255, 255, 150);
 }
 
 h1 {
     font-size: 4em;
     font-family: 'Pangolin', cursive;
 }
 
 h2 {
     font-size: 1.5em;
     font-family: 'Pangolin', cursive;
 }
 
 h3 {
     font-size: 3em;
     font-family: 'Pangolin', cursive;
 }
 
 h4 {
     font-size: 2em;
     font-family: 'Pangolin', cursive;
 }
 
 .gameSquare > h3:hover,
 h4:hover,
 #buttons > p:hover {
     color: red;
     cursor: pointer;
 }
 
 p {
     font-size: 1.25em;
     font-family: 'Pangolin', cursive;
 }