 @import url('https://fonts.googleapis.com/css?family=Pangolin');
 html,
 body {
     height: 100%;
     min-width: 450px;
 }
 
 #pageContainer {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     background: radial-gradient(rgb(150, 150, 230), rgb(80, 80, 220));
     height: 100%;
     width: 100%;
     background-size: cover;
 }
 
 #gameContainer {
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
     padding: 3px;
     min-width: 400px;
     max-width: 400px;
     height: 400px;
     background: radial-gradient(rgb(150, 230, 190), rgb(81, 214, 148));
     border-radius: 5px;
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
 }
 
 .gameSquare {
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 5px;
     width: 45px;
     height: 45px;
     cursor: pointer;
 }
 
 .gameSquare > h3:hover,
 h4:hover,
 .buttons > p:hover {
     color: red;
     cursor: pointer;
 }
 
 #actionBar {
     flex-direction: column;
     justify-content: flex-start;
     padding-left: 10px;
     padding-right: 10px;
     min-width: 400px;
     background: radial-gradient(rgb(150, 230, 190), rgb(81, 214, 148));
     border-radius: 5px;
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
 }
 
 .buttons {
     width: 100%;
     display: flex;
     justify-content: space-around;
 }
 
 .timeWord,
 .titleScore {
     display: flex;
     justify-content: space-between;
 }
 
 .selected {
     background-color: rgb(255, 255, 0);
 }
 
 .highlight {
     background-color: rgb(255, 255, 150);
 }
 
 #scoreScreen {
     display: none;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     width: 400px;
     height: 350px;
     background: radial-gradient(rgb(150, 230, 190), rgb(81, 214, 148));
     border-radius: 5px;
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
 }
 
 #instructions {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     flex-direction: column;
     height: 100%;
     width: 80%;
     position: fixed;
     z-index: 2;
     top: 0;
     left: 0;
     background: radial-gradient(rgb(150, 230, 190), rgb(81, 214, 148));
     overflow-x: hidden;
     padding-top: 20px;
     transition: 0.5s;
 }
 
 h1 {
     font-size: 4em;
     font-family: 'Pangolin', cursive;
 }
 
 h2 {
     font-size: 1.5em;
     font-family: 'Pangolin', cursive;
 }
 
 h3 {
     font-size: 3em;
     font-family: 'Pangolin', cursive;
 }
 
 h4 {
     font-size: 2em;
     font-family: 'Pangolin', cursive;
 }
 
 p {
     font-size: 1.25em;
     font-family: 'Pangolin', cursive;
     text-align: center;
 }
 
 @media only screen and (max-width: 675px) {
     .sidenav {
         width: 100%;
     }
 }